#table, th, td {
    border: 1px solid  #282424;
    border-collapse: collapse;
    padding: 10px;
}

#table th {
    background-color: #827575;
}

#table td {
    background-color: #dbd7d7;
}

#table {
    width: 820px;
    float: right;
  }